*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: #EFBBFF;
}
header{
    position: fixed;
    width: 100%;
    background: white;
    padding: 15px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;

}